{% extends "front/layout.html.twig" %}

{% block title %}Sondages - {% endblock %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            {% for message in app.flashes('error') %}
                <div class="col-lg-8 offset-md-2">
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="col-lg-8 offset-md-2">
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            <div class="col-lg-8 offset-md-2 mb-4">
                <div class="card">
                    <div class="card-header fs-header">
                        <i class="fas fa-chart-pie mr-2"></i> <span>{{ poll.title }}</span>
                    </div>
                    <div class="card-body">
                        {% if userCanRespond == true %}
                            {{ poll.question }}
                            <form action="{{ path('answerPoll', {'id': poll.id}) }}">
                                {% for choice in poll.choice %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices" id="{{ choice.value }}" value="{{ choice.id }}" checked>
                                    <label class="form-check-label" for="{{ choice.value }}">
                                        {{ choice.value }}
                                    </label>
                                </div>
                                {% endfor %}
                                <input class="btn btn-success" type="submit" placeholder="Submit">
                            </form>
                        {% else %}
                            {{ poll.question }}
                            <canvas id="chart"></canvas>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <i class="fas fa-ticket-alt"></i> {{ answersCount }} réponse(s)
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('dist/scripts/lib/Chart.bundle.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            axios.get('{{ path('apiGetPoll', {'id': poll.id}) }}')
                .then(function (response) {
                    console.log(response);
                    var ctx = $("#chart");
                    var chart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: response.data.label,
                            datasets: [{
                                label: '# of Votes',
                                data: response.data.data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)'
                                ],
                                borderWidth: 1
                            }]
                        }
                    });
                })
        });
    </script>
{% endblock %}