{% extends "front/layout.html.twig" %}

{% block title %}Sondages - {% endblock %}

{% block mainContent %}
    <div class="container poll">
        <div class="row">
            <div class="col-lg-8 offset-md-2 mb-4">
                <a href="{{ path("poll_homepage") }}" class="btn btn-primary">Retour à la liste des sondages</a>
                <br><br>
                <div class="card">
                    <div class="card-header fs-header">
                        <i class="fas fa-chart-pie mr-2"></i> <span>{{ poll.title }}</span>
                    </div>
                    <div class="card-body">
                        {% if userCanRespond == true %}
                            <div class="pTitle">{{ poll.question }}</div>
                            <div class="text-center">
                                <form action="{{ path('answerPoll', {'id': poll.id}) }}">
                                    {% for choice in poll.choice %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="choices" id="{{ choice.value }}" value="{{ choice.id }}" checked>
                                            <label class="form-check-label" for="{{ choice.value }}">
                                                {{ choice.value }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <br>
                                    <input class="btn btn-success" type="submit" placeholder="Submit">
                                </form>
                            </div>
                        {% else %}
                            <div class="pTitle">{{ poll.question }}</div>
                            <canvas id="chart"></canvas>
                            <div class="box">
                                <i class="fal fa-exclamation-square"></i> Vous avez déjà répondu à ce sondage.
                            </div>
                        {% endif %}
                    </div>
                        <div class="card-footer">
                        <i class="fas fa-ticket-alt"></i> {{ answersCount }} réponse(s) à ce sondage !
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('dist/scripts/lib/Chart.bundle.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            axios.get('{{ path('apiGetPoll', {'id': poll.id}) }}')
                .then(function (response) {
                    console.log(response);
                    var ctx = $("#chart");
                    var chart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: response.data.label,
                            datasets: [{
                                label: '# of Votes',
                                data: response.data.data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)'
                                ],
                                borderWidth: 1
                            }]
                        }
                    });
                })
        });
    </script>
{% endblock %}