{% extends "front/layout.html.twig" %}

{% block title %}Sondages - {% endblock %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-md-2 mb-4">
                <div class="card">
                    <div class="card-header fs-header">
                        <i class="fas fa-chart-pie mr-2"></i> <span>{{ poll.title }}</span>
                    </div>
                    <div class="card-body">
                        {% if userHasRespond == false %}
                            {{ poll.question }}
                            <form action="{{ path('answerPoll', {'id': poll.id}) }}">
                                {% for choice in poll.choice %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices" id="{{ choice.value }}" value="{{ choice.id }}" checked>
                                    <label class="form-check-label" for="{{ choice.value }}">
                                        {{ choice.value }}
                                    </label>
                                </div>
                                {% endfor %}
                                <input class="btn btn-success" type="submit" placeholder="Submit">
                            </form>
                        {% else %}
                            {{ poll.question }}
                            ADD CHART
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <i class="fas fa-ticket-alt"></i> 0 réponse(s)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
{% endblock %}