{% extends 'backoffice/layout.html.twig' %}
{% block title %}Paramètres{% endblock %}
{% block body %}
<div class="title">Paramètres</div>

    <div class="card top">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="subtitle">Informations générales</div>
                <div class="form-group">
                    {{ form_label(form.name, "Nom de votre site") }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.description, "Entrez une courte description de celui-ci") }}
                    {{ form_widget(form.description) }}
                </div>

                <div class="subtitle">Réseaux sociaux</div>
                <div class="form-group">
                    {{ form_label(form.facebook, "URL de votre page Facebook") }}
                    {{ form_widget(form.facebook) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.twitter, "URL de votre compte Twitter") }}
                    {{ form_widget(form.twitter) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.youtube, "URL de votre chaine Youtube") }}
                    {{ form_widget(form.youtube) }}
                </div>

                <button type="submit" class="btn btn-primary">Sauvegarder les changements</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}