{% extends 'backoffice/layout.html.twig' %}
{% block title %}Rangs{% endblock %}
{% block body %}
    <div class="title">Rangs</div>
    <div class="card top">
        <div class="card-body">
            <div style="float: right; margin-bottom: 10px">
                <a href="{{ path("backoffice_forum_rank_add") }}" class="btn btn-secondary">Ajouter un rang</a>
            </div>


            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Rang</th>
                    <th scope="col">Activé</th>
                    <th scope="col">Message requis</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for rank in ranks %}
                    <tr>
                        <td>{{ rank.name }}</td>
                        <td>{{ rank.enabled }}</td>
                        <td>{{ rank.msg }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{{ path("backoffice_forum_rank_edit", {"id": rank.id}) }}" class="btn btn-secondary"><i class="fal fa-edit"></i></a>
                                <a href="{{ path("backoffice_forum_rank_remove", {"id": rank.id}) }}" class="btn btn-secondary"><i class="fal fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Pas de rangs, ajoutez en un.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(ranks) }}
    </div>
{% endblock %}