{% extends template_service.getTemplate() ~ "/front/layout.html.twig" %}

{% block title %}Index - {% endblock %}

{% block mainContent %}
<div class="container home">
    <div class="row">

        <div class="col-lg-8">
                <div class="trend">

                    <div class="title">Dernière vidéo <i class="fal fa-angle-double-right" style="font-size: 50px;"></i></div>
                    {% set homeVideo = getHomeVideo() %}

                    {% if homeVideo %}
                        {% if homeVideo.url is defined %}
                            <div class="video-container">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/{{ getUrlId(homeVideo) }}"
                                        frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen>
                                </iframe>
                            </div>
                            <a class="video-title" href="{{ path('video_view', {'id': "v"~homeVideo.id}) }}">{{ homeVideo.title }}</a>
                        {% else %}
                            <div class="fs-video-body">
                                <video width="620" height="440" controls>
                                    <source src="../../../uploads/videos/{{ homeVideo.videoPath }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <a class="video-title" href="{{ path('video_view', {'id': "u"~homeVideo.id}) }}">{{ homeVideo.title }}</a> <p class="views"> <i class="fal fa-eye"></i> {{ homeVideo.views }}</p>
                            <span class="description">{{ homeVideo.description|length > 200 ? homeVideo.description|slice(0, 200) ~ '[...]' : homeVideo.description  }}</span>
                            <div style="text-align: right">
                                <a href="{{ path('video_view', {'id': "u"~homeVideo.id}) }}" class="see-link">Voir la vidéo <i class="fal fa-arrow-right"></i></a>
                            </div>
                        {% endif %}
                    {% else %}
                        Pas de vidéo
                    {% endif %}
                </div>
            <div class="spacer30"></div>
            <div class="card channel-videos-bg">
                <div class="card-header fs-header">
                    <i class="fal fa-video"></i> <span> Plus de vidéos</span>
                </div>
                <div class="card-body">
                    <div class="row more-videos">
                    {% for video in getLastVideos()|slice(0, 8) %}

                                <div class="col-xs-3 col-md-3">
                                    {% if video.url is defined %}
                                        <a href="{{ path('video_view', {'id': "v"~video.id}) }}">
                                            <img width="185px" src="{{ video.thumbnail }}" class="img-rounded img-responsive" />
                                        </a>
                                    {% else %}
                                        <a href="{{ path('video_view', {'id': "u"~video.id}) }}">
                                            <img width="185px" src="{{ asset('uploads/videos/thumbnails/' ~ video.thumbnail) }}" class="img-rounded img-responsive" />
                                        </a>
                                    {% endif %}
                                    <span class="vtitle">{{ video.title }}</span>
                                    {% if video.provider is defined %}
                                        {% if video.provider == "youtube" %}
                                            <i class="far fa-thumbs-up"></i> {{ getLikeCountForId(video.urlId) }}  <span class="separator">|</span>
                                            <i class="far fa-comment"></i>{{ getCommentCountForId(video.urlId) }}
                                        {% endif %}
                                        <a href="{{ path("video_channel", {'user': video.user.username}) }}">
                                            <span class="user"><span class="ion-person"></span> {{ video.user.username }}</span>
                                        </a>
                                    {% else %}
                                        <i class="far fa-thumbs-up"></i> 1 <span class="separator">|</span>
                                        <i class="far fa-comment"></i> 1
                                        <a href="{{ path("video_channel", {'user': video.user.username}) }}">
                                            <span class="user"><span class="ion-person"></span> {{ video.user.username }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                    {% else %}
                        Pas de vidéos pour le moment !
                    {% endfor %}
                    </div>
                    <div style="text-align: right">
                        <a href="{{ path('video_homepage') }}" class="see-link">Toutes les dernières vidéos <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="spacer30"></div>
            <div class="card channel-article-bg">
                <div class="card-header fs-header">
                    <i class="fal fa-newspaper"></i> <span> Derniers articles</span>
                </div>
                <div class="card-body articles">
                    {% for article in getLastArticles()|slice(0, 5) %}
                        <a href="{{ path("news_view", {'id': article.id}) }}"><span class="atitle">{{ article.title }}</span></a>
                        <span class="description">{{ article.content|length > 200 ? article.content|slice(0, 200) ~ '[...]' : article.content  }}</span>
                        <span class="user"><a href="{{ path("video_channel", {'user': article.user.username}) }}">{{ article.user.username }}</a> <span class="date">le {{ article.creation|date("d/m/y à H:i") }}</span></span>
                        {% if not loop.last %}
                            <hr/>
                        {% endif %}
                    {% else %}
                        Aucun article pour le moment !
                    {% endfor %}
                    <div style="text-align: right">
                        <a href="{{ path('news_homepage') }}" class="see-link">Tous nos articles <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">

            {% if app.user is not null %}
                <div class="card menu-box">
                    <div class="card-header fs-header">
                        <i class="fal fa-user"></i>  Mon compte
                    </div>
                    <div class="card-body">
                        <div class="list-group list">
                            <a href="{{ path("video_manage") }}" class="list-group-item list-group-item-action"><i class="fal fa-video"></i> Mes vidéos</a>
                            {% if is_granted('ROLE_CREATOR') %}
                            <a href="{{ path("news_manage") }}" class="list-group-item list-group-item-action"><i class="fal fa-newspaper"></i> Mes articles</a>
                            <a href="{{ path("poll_manage") }}" class="list-group-item list-group-item-action"><i class="fal fa-chart-pie"></i> Mes sondages</a>
                            {% endif %}
                            <a href="{{ path("video_channel", {'user': app.user.username}) }}" class="list-group-item list-group-item-action"><i class="fal fa-user-circle"></i> Ma chaine</a>
                            <a href="{{ path("fos_user_profile_edit") }}" class="list-group-item list-group-item-action"><i class="fal fa-cogs"></i> Mon compte</a>
                            <a href="{{ path("fos_user_security_logout") }}" class="list-group-item list-group-item-action"><i class="fal fa-sign-out"></i> Me déconnecter</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card login-box">
                    <div class="card-header fs-header">
                        <i class="fal fa-sign-in"></i><span> Connexion</span>
                        <span class="right"><a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié ?</a> </span>
                    </div>
                    <div class="card-body">
                        <form action="{{ path("fos_user_security_check") }}" class="login" method="post">
                            <div class="form-group">
                                <label for="email">Pseudo <span class="red">*</span> </label>
                                <input type="text" name="_username" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entrez votre pseudo" required="required">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe <span class="red">*</span></label>
                                <input type="password" name="_password" class="form-control" id="password" placeholder="Entrez votre mot de passe" required="required">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="_remember_me" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Mémoriser ma connexion</label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ render(controller('App\\Controller\\UserController::getTokenAction')) }}" />
                            <br>
                            <button type="submit" class="btn btn-primary login-btn" style="margin-bottom: 10px;">Connexion</button>
                        </form>
                        <a href="{{ path("fos_user_registration_register") }}" class="btn btn-secondary login-btn">Créer un compte</a>
                    </div>
                </div>
            {% endif %}
            <br>
            <div class="card">
                <div class="card-header fs-header">
                    <i class="fal fa-users"></i><span> Derniers utilisateurs ( {{ getLastUsers()|length }} )</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for user in getLastUsers()|slice(0,10) %}
                            <div class="col-md-3 users-list">
                                <a href="{{ path("video_channel", {'user': user.username}) }}">
                                    <img src="{{ getProfilePic(user) }}" width="50px">
                                    <span class="username">{{ user.username }}</span>
                                </a>
                            </div>
                        {% else %}
                            Pas d'utilisateurs...
                        {% endfor %}
                    </div>
                    <div style="text-align: right">
                        <a href="{{ path('users_list') }}" class="see-link">Tous les utilisateurs <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-header fs-header">
                    <i class="fal fa-bullhorn"></i><span> Publicité</span>
                </div>
                <div class="card-body">
                    <img src="{{ asset("dist/imgs/ad.jpg") }}" width="100%">
                </div>
            </div>

        </div>
    </div>
</div>
    <script src="{{ asset('dist/scripts/lib/plyr.js') }}"></script>
    <script>plyr.setup();</script>
{% endblock %}