{% extends 'backoffice/layout.html.twig' %}
{% block title %}Apparence{% endblock %}
{% block body %}
    <div class="title">Apparence</div>
    <small class="text-muted">Modifiez l'apparence de votre site via cette page.</small>
    <div class="subtitle">Thème actuel</div>
    <div class="card">
        <div class="card-body">
            <div class="row theme-metadata">
                <div class="col-md-4">
                    <img src="{{ asset("templates/default/thumbnail.png") }}" width="100%">
                </div>
                <div class="col-md-4">
                    <p><span>Nom du template : </span> {{ theme.name }} </p>
                    <p><span>Description : </span> {{ theme.description }} </p>
                    <p><span>Version : </span> {{ theme.version }} </p>
                    <p><span>Auteur : </span> {{ theme.author }} </p>
                    <p><span>Site web : </span> <a href="{{ theme.website }}">{{ theme.website }}</a> </p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#theme-info">Informations</button>
                </div>
                <div class="col-md-4">
                    <h3>Changer le thème</h3>
                    {{ form_start(themeForm) }}
                    {{ form_label(themeForm.themes, "Choisissez un thème dans la liste") }}
                    {{ form_widget(themeForm.themes) }}
                    <button type="submit" class="btn btn-light top">Valider</button>
                    {{ form_end(themeForm) }}
                    <a href="" class="how-to">Comment installer un thème (Documentation)</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="theme-info" tabindex="-1" role="dialog" aria-labelledby="theme-info" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ theme.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>Chemin d'accès au thème :</p>
                    <pre>/templates/{{ theme.folder }}/</pre>

                    <p>Chemin d'accès aux fichiers publics :</p>
                    <pre>/public/templates/{{ theme.folder }}/</pre>
                    <br>
                    <i>Si vous rencontrez des problèmes de lecture des fichiers publics, vérifiez que le serveur web a bien les droits en lecture / écriture dessus.</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="subtitle">Paramètres du thème</div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    {{ form_start(parametersForm) }}
                        {{ form_widget(parametersForm.name, {"attr": {"style": "display: none"}}) }}
                        {{ form_widget(parametersForm.description, {"attr": {"style": "display: none"}}) }}
                        {{ form_widget(parametersForm.folder, {"attr": {"style": "display: none"}}) }}
                        {{ form_widget(parametersForm.version, {"attr": {"style": "display: none"}}) }}
                        {{ form_widget(parametersForm.author, {"attr": {"style": "display: none"}}) }}
                        {{ form_widget(parametersForm.website, {"attr": {"style": "display: none"}}) }}
                        {% for parameter in parametersForm.parameters %}
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ form_widget(parameter.parameter, {"attr": {"readonly": "readonly"}}) }}
                                    </div>
                                </div>
                                <div class="col-md-1" style="text-align: center">
                                    <i class="fas fa-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(parameter.value) }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            Pas de paramètres
                        {% endfor %}
                        {{ form_widget(parametersForm.submit, {"label": "Sauvegarder"}) }}
                    {{ form_end(parametersForm) }}
                </div>
                <div class="col-md-4">
                    <a href="{{ path("backoffice_appearance_edit", {"id": theme.id}) }}" style="float: right" class="btn btn-primary">Modifier la configuration</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}