{% extends "front/layout.html.twig" %}

{% block title %}Mot de passe - {% endblock %}

{% block mainContent %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="container profile">
    <div class="title">Mot de passe</div>
    <div class="row">
        <div class="col-md-3">
            <div class="card menu-box">
                <div class="card-header fs-header">
                    <i class="fal fa-user"></i>  Mon compte
                </div>
                <div class="card-body">
                    <div class="list-group list">
                        <a href="{{ path("user_custom") }}" class="list-group-item list-group-item-action"><i class="fal fa-user"></i> Modifier mon profil</a>
                        <a href="{{ path("fos_user_profile_edit") }}" class="list-group-item list-group-item-action"><i class="fal fa-cogs"></i> Modifier mon compte</a>
                        <a href="{{ path("fos_user_change_password") }}" class="list-group-item list-group-item-action active"><i class="fal fa-lock"></i> Mot de passe</a>
                        <a href="{{ path("front_homepage") }}" class="list-group-item list-group-item-action"><i class="fal fa-home"></i> Retourner à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}