{% extends "front/layout.html.twig" %}

{% block title %}{{ user.username }} vidéos{% endblock %}

{% block mainContent %}
    <div class="container top-margin channel">

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ getProfilePic(user) }}" width="50px">
                        <span class="title">{{ user.username }}</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-icons">
                            <li class="icon"><a href="{{ user.youtube }}"><i style="color: #ca0000;" class="ion-social-youtube"></i></a></li>
                            <li class="icon"><a href="{{ user.twitter }}"><i style="color: #1dcaff;" class="ion-social-twitter"></i></a></li>
                            <li class="icon"><a href="{{ user.facebook }}"><i style="color: #3b5998;" class="ion-social-facebook"></i></a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="head">Dernière vidéo <i class="fal fa-angle-down"></i></div>
                        {% set lastVideo = getLastVideoForUser(user) %}

                        {% if lastVideo.url is defined %}
                            <div class="video-container">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/{{ getUrlId(lastVideo) }}"
                                        frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen>
                                </iframe>
                            </div>
                            <a class="video-title" href="{{ path('video_view', {'id': "v"~lastVideo.id}) }}">{{ lastVideo.title }}</a>
                        {% else %}
                            <div class="fs-video-body">
                                <video width="620" height="440" controls>
                                    <source src="../../../uploads/videos/{{ lastVideo.videoPath }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <a class="video-title" href="{{ path('video_view', {'id': "u"~lastVideo.id}) }}">{{ lastVideo.title }}</a>
                            <p class="">{{ lastVideo.views }} vues</p>
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="head">Biographie <i class="fal fa-angle-down"></i></div>
                        <div class="text-center">
                            <img src="{{ getProfilePic(user) }}" width="150px">
                        </div>

                        {% for role in user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                <div class="admin"><i class="fal fa-star"></i> Administrateur</div>
                            {% endif %}
                            {% if role == "ROLE_CREATOR" %}
                                <div class="creator"><i class="fal fa-badge-check"></i> Créateur</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="spacer"></div>

                <div class="card">
                    <div class="card-body">
                        <div class="head">Vidéos mises en ligne <i class="fal fa-angle-down"></i></div>
                        {% for video in videos %}

                            {% if video.url is defined %}
                                <a href="{{ path('video_view', {'id': 'v'~video.id}) }}">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-lg-4 text-center">
                                            <img width="120px" src="https://img.youtube.com/vi/{{ getUrlId(video) }}/default.jpg" />
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="fs-video-list-title">{{ video.title }}</div>
                                            <p class="views">{{ video.createdAt|date('d/m/y') }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% else %}
                                <a href="{{ path('video_view', {'id': 'u'~video.id}) }}">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-lg-4 text-center">
                                            <img width="120px" src="{{ asset('uploads/videos/thumbnails/' ~ video.thumbnail) }}" />
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="fs-video-list-title">{{ video.title }}</div>
                                            <p class="views">{{ video.createdAt|date('d/m/y') }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}

                        {% else %}
                            Pas de vidéo
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="spacer30"></div>
        <div class="card channel-article-bg">
            <div class="card-body articles">
                <div class="head">Articles <i class="fal fa-angle-down"></i></div>
                {% for article in articles %}
                    <a href="{{ path("news_view", {'id': article.id}) }}"><span class="atitle">{{ article.title }}</span></a>
                    <span class="description">{{ article.content|length > 200 ? article.content|slice(0, 200) ~ '[...]' : article.content  }}</span>
                    <span class="user"><a href="{{ path("video_channel", {'user': article.user.username}) }}">{{ article.user.username }}</a> <span class="date">le {{ article.creation|date("d/m/y à H:i") }}</span></span>
                    {% if not loop.last %}
                        <hr/>
                    {% endif %}
                {% else %}
                    Aucun article pour le moment !
                {% endfor %}
            </div>
        </div>
        <div class="spacer30"></div>
        <div class="card channel-poll-bg">
            <div class="card-body channel-poll">
                <div class="head">Sondages <i class="fal fa-angle-down"></i></div>
                <div class="row">
                    {% for poll in polls %}
                        <div class="col-md-4 content">
                            <span class="pTitle">{{ poll.title }}</span>
                            <span class="question">{{ poll.question }}</span>
                            <span class="responses">{{ poll.answer|length }} réponse(s) !</span>
                            <a href="" class="btn btn-secondary ">Voter !</a>
                        </div>
                    {% else %}
                        Aucun sondage pour le moment !
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('dist/scripts/lib/plyr.js') }}"></script>
    <script>plyr.setup();</script>
{% endblock %}