{% extends "front/layout.html.twig" %}

{% block title %}Vidéos - {% endblock %}

{% block mainContent %}
    <div class="container videos-thumbs">
        <div class="title">Toutes les vidéos ( {{ videos.getTotalItemCount }} )</div>
        <div class="card">
            <div class="card-body">

                <div class="sort">
                    <i class="fal fa-sort"></i>
                    {{ knp_pagination_sortable(videos, 'Trier par ordre', 'a.id') }}
                </div>

                <div class="row">
                    {% for video in videos %}
                        <div class="col-xs-3 col-md-3">
                            {% if video.url is defined %}
                                <a href="{{ path('video_view', {'id': "v"~video.id}) }}">
                                    <img width="200px" src="{{ video.thumbnail }}" class="img-rounded img-responsive" />
                                </a>
                            {% else %}
                                <a href="{{ path('video_view', {'id': "u"~video.id}) }}">
                                    <img width="200px" src="{{ asset('uploads/videos/thumbnails/' ~ video.thumbnail) }}" class="img-rounded img-responsive" />
                                </a>
                            {% endif %}
                            <span class="vtitle">{{ video.title }}</span>
                            {% if video.provider is defined %}
                                {% if video.provider == "youtube" %}
                                    <i class="far fa-thumbs-up"></i> {{ getLikeCountForId(video.urlId) }}  <span class="separator">|</span>
                                    <i class="far fa-comment"></i>{{ getCommentCountForId(video.urlId) }}
                                {% endif %}
                                <a href="{{ path("video_channel", {'user': video.user.username}) }}">
                                    <span class="user"><span class="ion-person"></span> {{ video.user.username }}</span>
                                </a>
                            {% else %}
                                <i class="far fa-thumbs-up"></i> 1 <span class="separator">|</span>
                                <i class="far fa-comment"></i> 1
                                <a href="{{ path("video_channel", {'user': video.user.username}) }}">
                                    <span class="user"><span class="ion-person"></span> {{ video.user.username }}</span>
                                </a>
                            {% endif %}
                        </div>
                    {% else %}
                        Pas de vidéos.
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}