{% extends 'backoffice/layout.html.twig' %}
{% block title %}Index{% endblock %}

{% block body %}
    <div class="dashboard bars">
        <div class="title">Dashboard</div>
        {# USER BAR #}
        <div class="row grey top">
            <div class="col-md-2 bar-title">
                <div style="margin-top: 25px;">
                    <i class="fal fa-users fa-4x"></i>
                    <div class="description">Utilisateurs</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nouveaux inscrits</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cette semaine</h6>
                        <p class="card-text">
                            {{ countByDate("User", 7) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nouveaux inscrits</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ce mois-ci</h6>
                        <p class="card-text">
                            {{ countByDate("User", 30) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Utilisateurs</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nombre total</h6>
                        <p class="card-text">
                            {{ countByDate("User") }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 next-link">
                <a href="{{ path("backoffice_users") }}"><i class="fal fa-angle-double-right fa-5x"></i></a>
            </div>
        </div>

        {# VIDEOS BAR #}

        <div class="row top">
            <div class="col-md-2 bar-title">
                <div style="margin-top: 25px;">
                    <i class="fal fa-play-circle fa-4x"></i>
                    <div class="description">Vidéos</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nouvelles vidéos</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ce mois-ci</h6>
                        <p class="card-text">
                            {{ countByDate("UploadedVideo", 30) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Uploads</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Total</h6>
                        <p class="card-text">
                            {{ countByDate("UploadedVideo") }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liens</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Total</h6>
                        <p class="card-text">
                            {{ countByDate("ProviderVideo") }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 next-link">
                <a href=""><i class="fal fa-angle-double-right fa-5x"></i></a>
            </div>
        </div>

        {# FORUM BAR #}

        <div class="row grey top">
            <div class="col-md-2 bar-title">
                <div style="margin-top: 25px;">
                    <i class="fal fa-comments fa-4x"></i>
                    <div class="description">Forum</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sujets</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ce mois-ci</h6>
                        <p class="card-text">
                            {{ countByDate("Thread", 30) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Messages</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cette semaine</h6>
                        <p class="card-text">
                            {{ countByDate("Message", 7) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sujets</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nombre total</h6>
                        <p class="card-text">
                            {{ countByDate("Thread") }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 next-link">
                <a href=""><i class="fal fa-angle-double-right fa-5x"></i></a>
            </div>
        </div>

        {# GENERAL #}

        <div class="row top">
            <div class="col-md-3 general-stat">
                <i class="fal fa-newspaper fa-4x"></i>
                <span>{{ countByDate("Article") }} articles</span>
            </div>

            <div class="col-md-3 general-stat">
                <i class="fal fa-chart-pie fa-4x"></i>
                <span>{{ countByDate("Poll") }} sondages</span>
            </div>

            <div class="col-md-3 general-stat">
                <i class="fal fa-comment fa-4x"></i>
                <span>{{ countByDate("Comment") }} commentaires</span>
            </div>

            <div class="col-md-3 general-stat">
                <i class="fal fa-list fa-4x"></i>
                <span>{{ countByDate("Wall") }} publications</span>
            </div>
        </div>

    </div>
{% endblock %}