<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Administration</title>
    {% block css %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{{ asset("dist/styles/Back/css/admin.css") }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    {% endblock %}
</head>
<body>

<div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-toggler-icon leftmenutrigger"></span>
        <a class="navbar-brand" href="#">Videa Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav animate side-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("backoffice_index") }}" title="Index"><i class="fal fa-tachometer"></i> Index <i class="fal fa-tachometer shortmenu animate"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Membres <i class="fas fa-user shortmenu animate"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("backoffice_users") }}">Liste des utilisateurs</a>
                        <a class="dropdown-item" href="{{ path("backoffice_user_add") }}">Ajouter un utilisateur</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-play-circle"></i> Vidéos <i class="fas fa-play-circle shortmenu animate"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("backoffice_videos_hosted") }}">Liste des vidéos locales</a>
                        <a class="dropdown-item" href="{{ path("backoffice_videos_linked") }}">Liste des vidéos distantes</a>
                        <a class="dropdown-item" href="#">Modération</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-comments"></i> Forum <i class="fas fa-comments shortmenu animate"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("backoffice_forum_threads") }}">Liste des sujets</a>
                        <a class="dropdown-item" href="{{ path("backoffice_forum_messages") }}">Liste des messages</a>
                        <a class="dropdown-item" href="#">Modération</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-newspaper"></i> Articles <i class="fas fa-newspaper shortmenu animate"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("backoffice_articles") }}">Liste des articles</a>
                        <a class="dropdown-item" href="#">Modération</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chart-pie"></i> Sondages <i class="fas fa-chart-pie shortmenu animate"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("backoffice_polls") }}">Liste des sondages</a>
                        <a class="dropdown-item" href="#">Modération</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="Comment"><i class="fas fa-comment"></i> Comments <i class="fas fa-comment shortmenu animate"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="#" title="Cart"><i class="fas fa-magic"></i> Apparence <i class="fas fa-magic shortmenu animate"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="#" title="Cart"><i class="fas fa-cog"></i> Paramètres <i class="fas fa-cog shortmenu animate"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="Cart"><i class="fas fa-cogs"></i> Config <i class="fas fa-cogs shortmenu animate"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-md-auto d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user"></i> Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-key"></i> Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
</div>
<script>
    ClassicEditor
        .create( document.querySelector( '.editor' ), {
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        } )
        .catch( error => {
        console.log( error );
    } );
</script>
<script src="https://unpkg.com/sweetalert2@7.22.2/dist/sweetalert2.all.js"></script>
{% for flashMessage in app.session.flashbag.get('success') %}
    <script>
        swal(
            'Information',
            '{{ flashMessage }}',
            'success'
        )
    </script>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <script>
        swal(
            'Attention',
            '{{ flashMessage }}',
            'error'
        )
    </script>
{% endfor %}
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script>
    $(document).ready(function () {
        $('.leftmenutrigger').on('click', function (e) {
            $('.side-nav').toggleClass("open");
            $('#wrapper').toggleClass("open");
            e.preventDefault();
        });
    });
</script>
{% block js %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="{{ asset('dist/scripts/lib/font-awesome/all.js') }}"></script>
{% endblock %}
</body>
</html>