{% extends template_service.getTemplate() ~ "/front/layout.html.twig" %}

{% block title %}Utilisateurs - {% endblock %}

{% block mainContent %}

<div class="container">
    <div class="title">Nos utilisateurs</div>
    <div class="card">
        <div class="card-body">
            <div class="count">
                {{ users.getTotalItemCount }} utilisateurs trouvés
            </div>
            <table class="table users-table">
                <thead class="thead-dark">
                <tr>
                    <th>{{ knp_pagination_sortable(users, 'Id', 'a.id') }}</th>
                    <th{% if users.isSorted('a.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(users, 'Pseudo', 'a.username') }}</th>
                    <th>{{ knp_pagination_sortable(users, 'Dernière connexion', ['a.date', 'a.time']) }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ user.id }}</td>
                        <td><a style="color: #000" href="{{ path("video_channel", {'user': user.username}) }}">{{ user.username }}</a></td>
                        <td>{{ user.lastLogin | date('d/m/y') }}, {{ user.lastLogin | date('H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}