<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('dist/styles/Front/style.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/styles/Front/plyr.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/styles/ionicons.min.css') }}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <title>{% block title %}VideaCMS{% endblock %}</title>
    </head>

    <body style="background-color: #d8d8d8;">
        {% include('front/loader.html.twig') %}
        {% block header %}
        <div class="fixed-top">
            <header class="topbar">
                <div class="container">
                    <div class="row">
                        <!-- social icon-->
                        <div class="col-sm-12">
                            <ul class="social-network">
                                <li><a class="waves-effect waves-dark" href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a class="waves-effect waves-dark" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="waves-effect waves-dark" href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('front_homepage') }}" style="text-transform: uppercase; color: black">
                        <img src="{{ asset("dist/imgs/logo.png") }}" width="145px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive" style="font-family: 'Work Sans', sans-serif;">

                        <ul class="navbar-nav ml-auto fs_navbar">

                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('front_homepage') }}">Accueil
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('news_homepage') }}">Articles</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('video_homepage') }}">Vidéos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('poll_homepage') }}">Sondages</a>
                            </li>

                            {% if is_granted('ROLE_CREATOR') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('administrationCreator') }}">Dashboard</a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                {% if app.user %}
                                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                {% else %}
                                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div style="height:83px"></div>
        {% endblock %}

        <div class="mt-3 videa-cms" style="margin-top: 0px !important">
            <br>
            <br>
        {% block mainContent %} {% endblock %}
        </div>
        <section id="footer">
            <div class="container">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Liens rapides</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Vidéos</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Articles</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sondages</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Utilisateurs</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">

                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Videa CMS</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Support</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Nous contacter</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> A Propos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p>Vidéa CMS est une plateforme de partage de vidéos et de contenus.</p>
                        <p class="h6">&copy Tous droits réservés.<a class="text-green ml-2" href="" target="_blank">Vidéa CMS</a></p>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="http://malsup.github.io/min/jquery.form.min.js"></script>
        <script src="https://unpkg.com/sweetalert2@7.22.2/dist/sweetalert2.all.js"></script>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <script>
                swal(
                    'Information',
                    '{{ flashMessage }}',
                    'success'
                )
            </script>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <script>
                swal(
                    'Erreur',
                    '{{ flashMessage }}',
                    'error'
                )
            </script>
        {% endfor %}
        <script>
            window.scrollTo(0,0);
            $.fn.serializeObject = function()
            {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };

            // USE ON FORMS
            $(document).on("submit", ".postAjax", function(e){
                e.preventDefault();
                $(this).LoadingOverlay("show");
                data = $(this).serializeObject();
                var element = $(this);

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success:function(data){
                        if(data.status === 'ok'){
                            swal(
                                'Succès',
                                data.msg,
                                'success'
                            )
                        }
                        if(data.status === 'wait'){
                            swal(
                                'Erreur',
                                data.msg,
                                'error'
                            )
                        }
                        if(data.status === 'error'){
                            swal(
                                'Erreur',
                                data.msg,
                                'error'
                            )
                        }

                        $(".postAjax").LoadingOverlay("hide");
                    }
                });
                $('#reload').load(window.location.href + " #reload" );
            });

            // USE ON LINKS => onclick="ajaxLink(this);return false"
            function ajaxLink(obj){
                var link = obj.getAttribute('href');
                var dataClass = obj.getAttribute('class');
                $.get(link, function(data, status){
                    $('#reload').load(window.location.href + " #reload" );
                });
            }

            $(function() {
                $(".progress-bar").hide();
                var bar = $('.bar');
                var percent = $('.percent');
                var status = $('#status');

                $('.upload-form').ajaxForm({
                    beforeSend: function() {
                        status.empty();
                        var percentVal = '0%';
                        bar.width(percentVal);
                        percent.html(percentVal);
                    },
                    uploadProgress: function(event, position, total, percentComplete) {
                        $(".progress-bar").show();
                        $(".upload-form").LoadingOverlay("show");
                        var percentVal = percentComplete + '%';
                        bar.width(percentVal);
                        percent.html(percentVal);
                    },
                    complete: function(xhr) {
                        console.log(xhr.responseJSON);
                        if(xhr.responseJSON.status === "ok"){
                            $(".upload-form").LoadingOverlay("hide", 1);
                            var id = xhr.responseJSON.link;
                            {% set link = path('video_view', {'id': 'u' }) %}

                            swal({
                                title: 'Vidéo envoyée !',
                                type: 'success',
                                html: 'Vous pouvez désormais la visualiser à cette adresse : <br> <a href="{{ link }}' + id + '">{{ link }}' + id + '</a>',
                                focusConfirm: false,
                                footer: '<a href="{{ path("video_manage") }}">Retourner au gestionnaire</a>'
                            });

                            status.html("Le lien est {{ link }}" + id);
                        }
                    }
                });
            });

        </script>
        <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="{{ asset('dist/scripts/lib/axios.min.js') }}"></script>
        <script defer src="{{ asset('dist/scripts/lib/font-awesome/all.js') }}"></script>
        {% block js %} {% endblock %}
    </body>
</html>