{% extends template_service.getTemplate() ~ "/front/layout.html.twig" %}

{% block title %}Forum{% endblock %}

{% block mainContent %}
    <div class="container thread">
        {% if is_granted('ROLE_MODERATOR') %}
            {% if thread.locked %}
                {% set lock_label = "Déverouiller" %}
            {% else %}
                {% set lock_label = "Verouiller" %}
            {% endif %}
            {% if thread.status == "pinned" %}
                {% set pin_label = "Désépingler" %}
            {% else %}
                {% set pin_label = "Épingler" %}
            {% endif %}
            <div class="moderation">
                <a href="{{ path("thread_change_status", {"id": thread.id, "action": "lock"}) }}"><i class="fal fa-lock"></i> {{ lock_label }}</a>
                <a href="{{ path("thread_change_status", {"id": thread.id, "action": "pin"}) }}"><i class="fal fa-thumbtack"></i> {{ pin_label }}</a>
            </div>
        {% endif %}
        <div class="sTitle"><a class="back" href="{{ path('thread_index') }}"><i class="fal fa-arrow-square-left"></i></a> {{ thread.title }}</div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 left-col">
                        <img src="{{ getProfilePic(thread.user) }}" width="150px">
                        <a href="{{ path("video_channel", {'user': thread.user.username}) }}" class="author">{{ thread.user.username }}</a>
                        {% for role in thread.user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                <div style="font-size: 15px;" class="admin"><i class="fal fa-star"></i> Administrateur</div>
                            {% endif %}
                            {% if role == "ROLE_CREATOR" %}
                                <div style="font-size: 15px;" class="creator"><i class="fal fa-badge-check"></i> Créateur</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-10">
                        <div class="bar">
                            écrit le {{ thread.createdAt|date("d/m/y à H:i") }}
                            <div class="edition">
                                {% if app.user == thread.user or is_granted('ROLE_MODERATOR') == true %}
                                    <a class="edit" href="{{ path('thread_edit', {'id': thread.id}) }}">éditer</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ include('thread/_delete_form.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                        <span class="message">
                            {% autoescape %}
                                {{ thread.content|raw }}
                            {% endautoescape %}
                        </span>
                        {% if thread.lastModification %}
                            <div class="modified">
                                Dernière modification le {{ thread.lastModification|date("d/m/y à H:i") }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if messages|length >= 1 %}
            <div class="subtitle">Réponses</div>
        {% endif %}
        {% for message in messages %}
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 left-col">
                            <img src="{{ getProfilePic(message.user) }}" width="150px">
                            <a href="{{ path("video_channel", {'user': message.user.username}) }}" class="author">{{ message.user.username }}</a>
                            {% for role in message.user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    <div style="font-size: 15px;" class="admin"><i class="fal fa-star"></i> Administrateur</div>
                                {% endif %}
                                {% if role == "ROLE_CREATOR" %}
                                    <div style="font-size: 15px;" class="creator"><i class="fal fa-badge-check"></i> Créateur</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-10">
                            <div class="bar">
                                écrit le {{ message.createdAt|date("d/m/y à H:i") }}
                                <div class="edition">
                                    {% if app.user == message.user or is_granted('ROLE_MODERATOR') == true %}
                                        <a class="edit" href="{{ path('message_edit', {'id': message.id}) }}">éditer</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {{ include('message/_delete_form.html.twig') }}
                                    {% endif %}
                                </div>
                            </div>
                            <span class="message">
                            {% autoescape %}
                                {{ message.content|raw }}
                            {% endautoescape %}
                        </span>
                            {% if message.lastModification %}
                                <div class="modified">
                                    Dernière modification le {{ message.lastModification|date("d/m/y à H:i") }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(messages) }}
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {% if thread.locked %}
                    <div class="videa-alert">
                        <i class="fal fa-lock-alt"></i> Désolé, ce sujet est verouillé.
                    </div>
                {% else %}
                    {% if app.user %}
                    <div class="subtitle">Répondre</div>
                    {{ include('message/_form.html.twig') }}
                    {% else %}
                        <div class="videa-alert">
                            <i class="fal fa-lock-alt"></i> Vous devez être connecté pour répondre.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}