{% extends "front/layout.html.twig" %}

{% block title %}Ajouter un lien{% endblock %}

{% block mainContent %}

    <div class="container add-link">
        <div class="title">Ajouter un lien vers une vidéo...</div>
        <div class="row">
            <div class="col-md-8">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.title, "Titre de la vidéo") }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Blanche neige'}}) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.url, "Lien de la vidéo") }}
                    {{ form_widget(form.url, {'attr': {'class': 'form-control', 'placeholder': 'http://...'}}) }}
                    {{ form_errors(form.url) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.provider, "Source") }}
                    {{ form_widget(form.provider, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.provider) }}
                </div>
                {{ form_widget(form.submit, {'label': 'Envoyer' ,'attr': {'class': 'btn btn-primary'}}) }}

                {{ form_end(form) }}
            </div>
            <div class="col-md-4">
                <div style="text-align: right">
                    <a href="{{ path("video_add") }}" class="btn btn-outline-dark back-btn">Retour</a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <span class="title-info"><i class="fal fa-info"></i> Info</span>
                        <p>Vous pouvez envoyer ici des vidéos présentes sur des sources exterieures, celles-ci seront automatiquement ajoutés à votre compte.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}