{% extends "front/layout.html.twig" %}

{% block title %}Gestionnaire de vidéos{% endblock %}

{% block mainContent %}
    <div class="spacer"></div>
    <div class="container edit-video">
        <div class="row">
            <div class="col-md-8">
                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.title, "Titre") }}
                    {{ form_widget(form.title, {"attr": {"class": "form-control"}}) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.url, "Lien") }}
                    {{ form_widget(form.url, {"attr": {"class": "form-control"}}) }}
                    {{ form_errors(form.url) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.provider, "Source") }}
                    {{ form_widget(form.provider, {"attr": {"class": "form-control"}}) }}
                    {{ form_errors(form.provider) }}
                </div>
                {{ form_widget(form.submit, {"label": "Enregistrer les changements", "attr": {"class": "btn btn-primary"}}) }}

                {{ form_end(form) }}
            </div>
            <div class="col-md-4">
                <a href="{{ path("video_manage") }}" class="btn btn-secondary">Retour au gestionnaire</a>
            </div>
        </div>
    </div>

{% endblock %}