{% extends "front/layout.html.twig" %}

{% block title %}Ajouter un lien{% endblock %}

{% block mainContent %}
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

    <div class="container upload">
        <div class="title">Téléverser une vidéo sur nos serveurs...</div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">

                        <div class="progress-bar">
                            <div class="bar"></div >
                            <div class="percent">0%</div >
                        </div>
                        <div id="status"></div>

                        {{ form_start(form, {'attr': {'class': 'upload-form'}}) }}
                        <div class="form-group">
                            {{ form_label(form.title, "Titre de votre vidéo") }}
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.title) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.videoFile, "Fichier") }}
                            {{ form_widget(form.videoFile, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.videoFile) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description, "Description de la vidéo") }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.public, {'attr': {'class': 'form-checkbox'}}) }}
                            {{ form_errors(form.public) }}
                        </div>
                        {{ form_widget(form.submit, {'label': 'Téléverser la vidéo', 'attr': {'class': 'btn btn-primary'}}) }}

                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: right">
                            <a href="{{ path("video_add") }}" class="btn btn-outline-dark back-btn">Retour</a>
                        </div>
                        <span class="title-info"><i class="fal fa-info"></i> Info</span>
                        <p>Vous pouvez héberger des vidéos sur nos serveurs afin d'y avoir accès n'importe quand sans restrictions.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
